@import url("https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  height: 100%;
}
#root{
    width: 100%;
    height: 100%;
}
body {
  font-size: 1.6rem;
  font-family: "Open-sans", "sans-serif";
  width: 100%;
  height: 100%;
}

.header a {
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: .3px;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;

}
.header a:visited {
    color: #fff;
    text-decoration: none;
  }
  

.errormsg{
    font-size: 13px;
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header a:hover{
    color: #fff;
    text-decoration: none;
  }

 .search-ctr input {
  border: none;
  outline: none;
  color: #fff;
  background-color: transparent;
  width: 70%;
  color: #fff !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

input::placeholder {
    color: rgba(255,255,255,.5);
  }
  
.search-ctr {
  background-color: rgba(0, 0, 0, 0.1);
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-radius: 5px;
  padding: 0.5rem;
}

.search-ctr button {
  outline: none;
  border: none;
  background-color: transparent;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.loading{
    width: 75px;
    height: 75px;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: 1000px;
    transition: .3s all linear;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 5rem;
    padding: 1rem 4rem;
    border-radius: 15px;
    width: 325px;
    height: 550px;
  }
  

.card-inner {
  margin-top: 5rem;
}

.hrr {
  text-align: center;
  color: #fff;
  width: 150px;
  font-size: 25px;
  margin: 0;
  margin-bottom: 10px;
}

.date {
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.city-header {
  font-size: 45px;
  color: #fff;
  font-weight: 300;
  text-align: center;
}

.header {
}
.degree {
  font-family: "Anton", sans-serif;
  font-size: 75px;
  color: #fff;
  margin: 10px 0 0 0;
}

.degreec {
  font-family: "Open-sans", sans-serif;
}

.status {
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #fff;
}

.maxmin {
  font-size: 19px;
  color: #fff;
  font-weight: 600;
}
